/* Fuentes */




/* Variables */
:root{
    --bg-body: #FEFCFB;
    --primary-color: #FA7436;
    --black-color: #222222:
    --gray-color: #666666;
    
    --fontSize-title: 40px;
    --fontSize-parrafos: 20px;
    --fontSize-textos: 16px
    --fontFamily-title: 'Volkhov';
}

body {
    background: var(--bg-body);
    font-family: 'Poppins', sans-serif;
}
h3 {
    font-size: 16px;
}

.background-secondary {
    background: #F7F8FC;
    
}

.header {
    background: #FEFCFB;
}

nav .navbar-brand img {
    width: 200px;
}

 #nav-main ul li a:hover {
    color: var(--primary-color);
}
.login {
    width: 160px;
}
.login a{
    text-align: center;
    color: var(--primary-color);
    font-size: var(--fontSize-textos);
}
.registro {
    width: 160px;
    height: 50px;
}
.registro a{
    display: block;
    text-align: center;
    padding: 12px;
    padding-left: 100px;
    padding-right: 30px;
    color: #fff;
    border-radius: 4px;
    background: var(--primary-color);
    font-size: var(--fontSize-textos);
}

nav.bg-gym ul li.registro {
    padding-left: 40px;
}

/* Hero */



/* #hero .cont-foto img {
    z-index: 2;
    position: relative;
    width: 500px;
} */

/* #hero .cont-foto::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: -40px;
    left: 40px;
   
    z-index: 1;
} */

#hero h1 {
    color: var(--black-color);
    font-family: 'Volkhov', serif;
    font-size: 64px;
    margin-bottom: 30px;
}

#hero p {
    color: var(--gray-color);
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
}

#hero button {
    padding: 15px 20px;
    color: var(--primary-color);
    background-color: transparent;
    border: 2px solid var(--primary-color);
    width: auto;
}
#hero button:hover {
    background: var(--primary-color);
    color: var(--bg-body);
}

#hero .cont-info {
    padding: 40px 60px 0px 40px;
    
}

#hero .cont-info span {
    border-bottom: 12px solid #fff;
    color: var(--primary-color);
}

#hero .cont-info p{
    color: #666666;
    font-size: var(--fontSize-parrafos);
    margin-bottom: 40px;
}

#hero .cont-info .destacados h2 {
    color: #fff;
    font-size: var(--fontSize-title);
    font-family: 'Volkhov', serif;
}

#hero .cont-info .destacados p {
    font-size: 14px;
}

#hero-section-location {
    background: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

