/* Fuentes */




/* Variables */
:root{
    --bg-body: #FEFCFB;
    --primary-color: #FA7436;
    --black-color: #222222:
    --gray-color: #666666;
    
    --fontSize-title: 40px;
    --fontSize-parrafos: 20px;
    --fontSize-textos: 16px
    --fontFamily-title: 'Volkhov';
}

body {
    background: var(--bg-body);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h3 {
    font-size: 16px;
}

.background-secondary {
    background: #F7F8FC;
    
}

.header {
    background: #FEFCFB;
}

nav .navbar-brand img {
    width: 200px;
}

 #nav-main ul li a:hover {
    color: var(--primary-color);
}
.login {
    width: 160px;
}
.login a{
    text-align: center;
    color: var(--primary-color);
    font-size: var(--fontSize-textos);
}
.registro {
    width: 160px;
    height: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.registro a{
    display: block;
    text-align: center;
    padding: 12px;
    padding-left: 100px;
    padding-right: 30px;
    color: #fff;
    border-radius: 4px;
    background: var(--primary-color);
    font-size: var(--fontSize-textos);
}

nav.bg-gym ul li.registro {
    padding-left: 40px;
}


/* #hero .cont-foto img {
    z-index: 2;
    position: relative;
    width: 500px;
} */

/* #hero .cont-foto::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: -40px;
    left: 40px;
   
    z-index: 1;
} */

#hero h1 {
    color: var(--black-color);
    font-family: 'Volkhov', serif;
    font-size: 64px;
    margin-bottom: 30px;
}

#hero p {
    color: var(--gray-color);
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
}

#hero button {
    padding: 15px 20px;
    color: var(--primary-color);
    background-color: transparent;
    border: 2px solid var(--primary-color);
    width: auto;
}
#hero button:hover {
    background: var(--primary-color);
    color: var(--bg-body);
}

#hero .cont-info {
    padding: 40px 60px 0px 40px;
    
}

#hero .cont-info span {
    border-bottom: 12px solid #fff;
    color: var(--primary-color);
}

#hero .cont-info p{
    color: #666666;
    font-size: var(--fontSize-parrafos);
    margin-bottom: 40px;
}

#hero .cont-info .destacados h2 {
    color: #fff;
    font-size: var(--fontSize-title);
    font-family: 'Volkhov', serif;
}

#hero .cont-info .destacados p {
    font-size: 14px;
}

#hero-section-location {
    background: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 70%;
}
#hero-section-location div h3 {
    font-size: 16px;
    color: #222222;
}

#hero-section-location div span {
    font-size: 12px;
    color: #666666;
}
#section-secundary {
    padding-bottom: 60px;
}
#section-secundary  span {
    color: var(--primary-color);
}

#section-secundary .title-secundary h2 {
    font-family: 'Volkhov', serif;
    font-size: 48px;
    color: #222222;
}

#section-secundary .title-secundary p {
    color: #666666;
    font-size: 18px;
    width: 482px;
    text-align: center;
}

#section-secundary img {
    width: 56px;
    height: 56px;
}

#section-secundary .card {
    width: 370px;
    height: 278px;
    padding: 40px;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#section-secundary div {
    margin: 0;
    padding: 20px 0;
}

#section-secundary .card-section h5 {
    padding-top: 50px;
    font-size: 24px;
    font-weight: 600;
    color: var(--black-color);
}

#section-secundary .card-section p {
    font-size: 16px;
    color: var(--gray-color);
}

#section-secundary .img-secundary {
    width: 180px;
    height: auto;
}

#img-location {
    width: 32px;
}

#section-exclusive span {
    color: var(--primary-color);
}

#section-exclusive .title-secundary h2 {
    font-family: 'Volkhov', serif;
    font-size: 48px;
    color: #222222;
}

#section-exclusive .title-secundary p {
    color: #666666;
    font-size: 18px;
    width: 430px;
    text-align: center;
    
}

.card-default {
    margin: 0 16px;
    border-radius: 1px solid #666666;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#section-exclusive .card-default:hover {

    box-shadow: 0px 16px 80px 0px #FE935E33;
    border: 1px solid #FFFFFF;
}

#section-exclusive .card-default h5 {
    color: #222222;
    font-weight: 600;
    font-size: 24px;
}

#section-exclusive  .card-default p {
    color: #666666;
}

#section-exclusive .card-default .price {
    background-color: rgba(250, 116, 54, 0.3);
    color: var(--primary-color);
    padding: 5px; 
    border-radius: 6px; 
    text-align: center; 
    width: 52px;
    height: 28px; 
    display: flex;
    align-items: center;
    justify-content: center; 
}

#section-exclusive .card-default p>del {
    padding: 5px; 
    border-radius: 10px; 
    text-align: center; 
    width: 52px;
    height: 28px; 
    display: flex;
    align-items: center;
    justify-content: center; 

    margin: 0;
}
