/* Fuentes */




/* Variables */




:root{
    --bg-body: #FEFCFB;
    --primary-color: #FA7436;
    ;
    --fontSize-title: 40px;
    --fontSize-parrafos: 20px;
}

body {
    background: var(--bg-body);
}

.header {
    background: #FEFCFB;
}

nav .navbar-brand img {
    width: 200px;
}

nav.bg-gym {
    background: #FEFCFB;
    padding: 16px 0;
}

nav.bg-gym ul li a {
    color: #222222;
    position: relative;
    font-size: 20px;

}

nav.bg-gym ul li a::after {
    width: 0%;
    height: 2px;
    background: transparent;
    content: "";
    position: absolute;
    bottom: 2px;
    left: 10px;
    transition: .4s;
}

nav.bg-gym ul li a:hover {
    color: var(--primary-color);
}

nav.bg-gym ul li a:hover::after {
    background: var(--primary-color);
    width: 40%;
}



nav.bg-gym ul li.registro a{
    display: block;
    padding: 12px;
    padding-left: 100px;
    padding-right: 30px;
    color: #fff;
    border-radius: 4px;
    background: var(--primary-color);
}

nav.bg-gym ul li.registro {
    padding-left: 40px;
}

/* Hero */



#hero .cont-foto img {
    z-index: 2;
    position: relative;
    width: 500px;
}

#hero .cont-foto::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: -40px;
    left: 40px;
   
    z-index: 1;
}

#hero .cont-info {
    padding: 40px;
    
}
#hero .cont-info h1{
    color: black;
    font-size: 60px;
    margin-bottom: 30px;
}
#hero .cont-info span {
    border-bottom: 12px solid #fff;
    color: var(--primary-color);
}

#hero .cont-info p{
    color: #666666;
    font-size: var(--fontSize-parrafos);
    margin-bottom: 40px;
}

#hero .cont-info .destacados h2 {
    color: #fff;
    font-size: var(--fontSize-title);
}

#hero .cont-info .destacados p {
    font-size: 14px;
}

